<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
                <h4 class="card-title text-center mb-4"><i class="fas fa-book-reader"></i> StoryBooks</h4>
                <form>
                    <p class="text-center">Create public and private stories from your life.</p>

                    <hr class="my-4">

                    <div class="d-grid mb-2 d-none">
                        <a class="btn btn-primary socials-facebook fw-bold" href="/auth/facebook" role="button">
                            <i class="fa-brands fa-facebook-f me-2"></i> Log in with Facebook
                        </a>
                    </div>
                    <div class="d-grid mb-2 d-none">
                        <a class="btn btn-primary socials-twitter fw-bold" href="/auth/twitter" role="button">
                            <i class="fa-brands fa-twitter me-2"></i> Log in with Twitter
                        </a>
                    </div>
                    <div class="d-grid">
                        <a class="btn btn-danger fw-bold" href="/auth/google" role="button">
                            <i class="fab fa-google me-2"></i> Log in with Google
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>