.login-container {
    width: 600px;
}

.app-container {
    margin-top: 100px;
}

/* STORIES */

.fixed-action-button {
    position: fixed;
    right: 0.6rem;
    bottom: 0.9rem;
    z-index: 1030;
    padding: 0.9rem 20px 20px;
    height: 80px;
}

.btn-floating {
    border-radius: 50%;
}

.story-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.story-card .avatar {
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

/* LOGIN */

.socials-facebook {
    background-color: #3B5898;
    border-color: #3B5898;
}

.socials-facebook:hover {
    background-color: #5177C2;
    border-color: #5177C2;
}

.socials-twitter {
    background-color: #00ABEE;
    border-color: #00ABEE;
}

.socials-twitter:hover {
    background-color: #4CBDE6;
    border-color: #4CBDE6;
}

.socials-google {
    background-color: #dd4c39;
    border-color: #DD4C39;
}

.socials-google:hover {
    background-color: #F06E60;
    border-color: #F06E60;
}