<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">404 Not Found</h4>
    <p>We are sorry, this resource is not found.</p>
    <hr>
    <a href="/dashboard" class="alert-link">Go to dashboard</a>
</div>