<div class="alert alert-danger mt-4" role="alert">
    <h4 class="alert-heading">Server Error</h4>
    <p>We are sorry, this resource is not found.</p>
    <hr>
    <a href="/dashboard" class="alert-link">Go to dashboard</a>
</div>